.chatbox {
    overflow: scroll;
    height: 500px;
    width: 250px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.chatcontainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
}