body {
    background: linear-gradient(-45deg, #b5eafd, #23a6d5, #23d5ab, #2424aa);
    background-size: 600% 600%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-muted {
    color: white !important;
}

.jumbotron {
    background-color: white !important;
    height: 180px !important;
}

.roomContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.roomCard {
    height: 400px;
    width: 400px;
    background-color: white;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    opacity: 0.8;
}

.roomBox {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 300px;
}

.messageContainer {
    height: 200px;
}

.messageBox {
    align-self: flex-end;
}
