/* These styles are tied to  the Join components*/

html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

/* These styles are tied ChatRoom.jsx */
.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #1a1a1d;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
        height: 100%;
    }

    .container {
        width: 100%;
        height: 85%;
    }
}

@media (min-width: 480px) and (max-width: 1200px) {
    .container {
        width: 60%;
    }
}

/* These styles are tied to styles.css */

.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #8d29ff;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
}

.leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}

.rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}

.onlineIcon {
    margin-right: 5%;
}

/* These styles are tied to Input.jsx */
.form {
    display: flex;
    border-top: 2px solid #d3d3d3;
}

.input {
    border: none;
    border-radius: 0;
    padding: 2%;
    width: 80%;
    font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #8d29ff;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}

/* This CSS tied to MessagesContainer */
.messages {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
}

/* This CSS tied to TextContainer */
.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    color: white;
    height: 60%;
    justify-content: space-between;
}

.activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
}

.activeItem {
    display: flex;
    align-items: center;
}

.activeContainer img {
    padding-left: 10px;
}

.textContainer h1 {
    margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
        display: none;
    }
}

.chatbox {

    overflow: scroll;
    height: 250px;
    width: 500px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.chatcontainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
}